.wrapper {
  display: flex;

  img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 16px;
  }
}

@media only screen and (max-width: 540px) {
  .wrapper {
    flex-direction: column;

    .title {
        font-size: 3rem !important;
        margin-bottom: 16px !important;
    }

    img {
      margin: 0px auto;
      height: 150px;
      width: 150px;
    }
  }
}
